.App {
}

.safety-box {
	background-color: #ffffff;
	padding: 12px;
	margin-top: 100px;
}

.safety-box-inner {
	background-color: #2a3f54;
	padding: 40px 80px;
}

.pin-pad-wrapper {
	width: 100%;
	background-color: #666666;
	padding: 10px;
	border: solid 3px #0d1319;
}
.pin-pad {
	width: 100%;
}

.pin-pad tr td {
	width: 33.33%;
    border: solid 6px #666666;
}

.pin-pad button {
	width: 100%;
	padding-top: 18px;
	padding-bottom: 18px;
	background-color: #fff;
	font-size: 20px;
}

.pin-display {
	background-color: #9ea18c;
	border: solid 6px #0d1319;
	border-radius: 20px;
}
.pin-display > input {
	padding-top: 8px;
	padding-bottom: 8px;
	text-align: center;
	font-size: 80px;
	display: block;
	background-color: transparent;
	border: none;
    width: 100%;
    outline: none;
}

.state-indicator {
	width: 60px;
	height: 60px;
	border: solid 6px #0d1319;
	border-radius: 50%;
	background-color: #008000;
	margin: 30px auto;
}

.state-indicator.locked {
	background-color: #800000;
}

@media (max-width: 480px) {
	.safety-box-inner {
		padding: 10px;
	}
}
